body{
    background:url(./source/season.jpg);
    background-blend-mode: multiply;
    background-position:center;
    background-size:cover;
    background-repeat:repeat;
    /* background-color: white; */
    /* filter: blur(4px); */
    

}

.d-flex button{
    margin: 10px;
    padding-left: 15px;
}

.cart{


    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 70px;
    
}
.cart div{
    margin: 20px;
    flex-basis: 30%;
    /* filter: drop-shadow( 0px 0px 10px);     */

}
.cart div:hover{
    filter: drop-shadow( 0px 0px 10px black);
    transition: .5s ease-in-out;
    cursor: pointer;
    transform: scale(1.02);
    text-shadow: 2px 2px 2px red;
}

.modal1 img{

   width:450px;
}

/* .mtb{
    width: 100px;
}

.mom button{
    list-style-type: none;
} */

.page{
    margin: 100px;
}
.caro{
    width: 1200px;
    margin: 50px;
    position: relative;
    margin-left: 150px;
    
    
}
.login{
    position: relative;
    left: 200px;
    height: 800px;
    top: 150px;
}
.order{
    display: flex;
    flex-direction:column;
    margin-left: 150px;
    width: 300px;
}
.order h1{
    font-size: 50px;
    margin-left: 45px;
    margin-bottom: 50px;
    }
.order div{
    font-size: 20px;
    margin-left:30px;
    margin-bottom: 50px;
}
.order div a{
    margin: 10px;
    border: 1px solid black;
    box-sizing: content-box;
    padding: 4px;
}
.order span{
    font-size: 15px;
    margin-left: 45px;
    margin-bottom: 20px;
    text-decoration: underline;
 } 
 .order input{
    padding: 15px 10px;
    margin: 15px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    

 }
 .login a{
    margin-left: 75px;
    margin-bottom: 20px;

 }
 .order div a:hover{
            
    box-shadow: 0px 0px 10px  red;
    transition: .5s ease-in-out;
     cursor: pointer;
     transform: scale(1);
 }
 .order input:hover{
    box-shadow: 0px 0px 10px blue;
    transition: .5s ease-in-out;
     cursor: text;
     transform: scale(1.10);
}
.order button{
    margin: 20px;
    padding:5px 40px 5px 40px;
    margin-left: 30px;
}


 @media screen and (max-width:1024px) {
    .caro{
       width: 800px;
       margin-left: 125px;
       
       
    }
}
@media screen and (max-width:1024px) {
    .order{
    display: flex;
    flex-direction:column;
    margin-left: 10px;
    width: 300px;
       
    }
}


@media screen and (max-width:768px) {
    .caro{
        width: 600px;
        margin-left: 100px;
        
     }
     .one{
        flex-basis: 20%;
     }
}
@media screen and (max-width:768px) {
    
    .profile{
        position: absolute;
        
    
     }
     .order{
        
        width: 300px;
        position: relative;
        right: 30%;
        bottom: 20%;
        
           
        }
        .order h1{
            font-size: 25px;
            margin-left: 1px;
            margin-bottom: 30px;
            position: relative;
            left: 30%;
            }
    
            .order div{
                font-size: 30px;
                margin-left:1px;
                margin-bottom: 50px;
                display: flex;
                position: relative;
                left: 10%;
            }
            .order span{
                position: relative;
                left: 2%;
            }
            .order input{
                padding: 15px 10px;
                margin: 15px;
                width: 100%;
                outline: none;
                border-radius: 5px;
                margin-left: 2px;
                position: relative;
                left: 0%;
                
            
             }
             .order .forget{
                position: relative;
                right: 0%;
             }
            .order button{
                margin: 20px;
                padding:5px 40px 5px 40px;
                margin-left: 40px;
                position: relative;
                right: 5%;
            }

        .page{
            margin: 100px;
        position: relative;
        margin-left: 160px;
        }
    }
        @media screen and (max-width:426px) {
            .caro{
                width: 300px;
                margin-left: 75px;
                
            }
            .cart{
                margin-left: 30px;
                
            }
            .page{
                margin: 100px;
            position: relative;
            margin-left: 120px;
            }

            .modal1 img{

                width:380px;
             }
             .profile{
                position: absolute;
                
            
             }
             .order{
                
                width: 300px;
                position: relative;
                right: 45%;
                bottom: 20%;
                
                   
                }
                .order h1{
                    font-size: 25px;
                    margin-left: 1px;
                    margin-bottom: 30px;
                    position: relative;
                    left: 30%;
                    }
            
                    .order div{
                        font-size: 30px;
                        margin-left:1px;
                        margin-bottom: 50px;
                        display: flex;
                        position: relative;
                        right: 5%;
                    }
                    .order span{
                        position: relative;
                        right: 15%;
                    }
                    .order input{
                        padding: 15px 10px;
                        margin: 15px;
                        width: 100%;
                        outline: none;
                        border-radius: 5px;
                        margin-left: 2px;
                        position: relative;
                        right: 15%;
                        
                    
                     }
                     .order .forget{
                        position: relative;
                        left: 0%;
                     }
                    .order button{
                        margin: 20px;
                        padding:5px 40px 5px 40px;
                        margin-left: 40px;
                        position: relative;
                        right: 0%;
                    }

        }
        @media screen and (max-width:376px) {
            .caro{
                width: 300px;
                margin-left: 30px;
                
            }
            .cart{
                margin-left: 5px;
            }
            .page{
                margin: 100px;
            position: relative;
            margin-left: 110px;
            }
            .modal1 img{

                width:320px;
            
            }
            .profile{
                position: absolute;
                
            
             }
             .order{
                
                width: 300px;
                position: relative;
                right: 60%;
                bottom: 20%;
                
                   
                }
                .order h1{
                    font-size: 25px;
                    margin-left: 1px;
                    margin-bottom: 30px;
                    position: relative;
                    left: 30%;
                    }
            
                    .order div{
                        font-size: 30px;
                        margin-left:1px;
                        margin-bottom: 50px;
                        display: flex;
                        position: relative;
                        right: 5%;
                    }
                    .order span{
                        position: relative;
                        right: 15%;
                    }
                    .order input{
                        padding: 15px 10px;
                        margin: 15px;
                        width: 100%;
                        outline: none;
                        border-radius: 5px;
                        margin-left: 2px;
                        position: relative;
                        right: 15%;
                        
                    
                     }
                     .order .forget{
                        position: relative;
                        left: 0%;
                     }
                    .order button{
                        margin: 20px;
                        padding:5px 40px 5px 40px;
                        margin-left: 40px;
                        position: relative;
                        right: 0%;
                    }
                }

            @media screen and (max-width:375px){

            }
          

        
    
                




 /* }
 @media screen and (max-width:320px) {
    nav{
       position: relative;
       width: 185px;
    }
 }
 @media screen and (max-width:320px) {
    .one{
        display: flex;
        width: 900px;
    }
        
    }
   
    @media screen and (max-width:320px) {
        .modal1{
            height: 100px;
         }
        } */
       
           
       
        